<article [ngClass]="{'list-group-item': true,
                     'list-group-item-success': item.loveIts > 0,
                     'list-group-item-danger': item.loveIts < 0}">
    <h3>{{item.title}} <small class="float-right badge badge-secondary">({{item.createdAt | date : 'le dd/MM/yy à HH:mm' }})</small></h3>
    <p>
        {{item.content}}
    </p>
    <footer>
        <button type="button" class='btn btn-success mx-1' (click)="love(1)">Love It! <span *ngIf="item.loveIts >= 0" class="badge badge-pill badge-light">{{item.loveIts}}</span></button>
        <button type="button" class='btn btn-danger mx-1' (click)="love(-1)">Hate It! <span *ngIf="item.loveIts < 0" class="badge badge-pill badge-light">{{item.loveIts}}</span></button>
    </footer>
</article>
